 @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=latin,cyrillic-ext,cyrillic);

img {
	border : 0;
}

body {
	font-family : 'Roboto Condensed', sans-serif;
	background-color: #6689a3;
	margin: 0;
	padding: 0;
    overflow-y: scroll;
}

a{
	color: #0067b1;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.site{
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
}

.site .header{
	position: relative;
}

.header .langMenu{
	position: absolute;
	right: 14px;
	top: 20px;
	width: 105px;
	background: #0067B1;
	border-radius: 2px;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-weight: bold;
	z-index: 9;
	cursor: pointer;
}

.langMenu:hover{
	background: #17c;
}

.langMenu .popupButton{
	content: "";
	position: absolute;
	display: block;
	width: 18px;
	height: 18px;
	right: 1px;
	top: 1px;
	background: transparent url(../images/dropdown_arrow.png) no-repeat center center;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.langMenu .popupContainer{
	display: none;
	border-radius: 2px;
}

.langMenu:focus .popupContainer{
	display: block;
}

.langMenu .popupContainer div{
	display: block;
	font-size: 11px;
	text-decoration: none;
	color: #fff;
	line-height: 20px;
	padding: 0 24px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.langMenu .popupContainer div.active{
	color: #fff;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
}
.langMenu .popupContainer div:hover{
	background-color: #17c;
}

.langMenu .popupContainer div:first-child{
	border-radius: 2px 2px 0 0;
}

.langMenu .popupContainer div:last-child{
	border-radius: 0 0 2px 2px;
}

.langMenu:focus{
	outline: none;
	background: #0067B1;
	-webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);
}

.langMenu:focus .popupLabel, .langMenu:focus .popupButton{
	display: none;
}

.langMenu .popupLabel{
	height: 20px;
	background-repeat: no-repeat;
	background-position: 2px center;
	background-color: transparent;
	color: #fff;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	font-size: 11px;
	line-height: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0 0 24px;
	border-radius: 2px 0 0 2px;
}


.langMenu .BG{
	background: transparent url(../images/flag_BG.png) no-repeat 2px center;
}

.langMenu .EN{
	background: transparent url(../images/flag_EN.png) no-repeat 2px center;
}

.langMenu a:first-child{
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.langMenu a:last-child{
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.site .header .contactsMenu{
	position: absolute;
	right: 14px;
	top: 48px;
	font-size: 20px;
	text-align: right;
}

.site .header .contactsMenu .line:before{
	content: attr(title);
	font-size: 12px;
	text-transform: uppercase;
	color: #555;
	margin: 0 5px 0 0;
}

.site .menu{
	width: 100%;
	display: table;
	border-top: 1px solid #0067b1;
	border-bottom: 1px solid #0067b1;
    background-color: #E2F0FA;
}

.site .menu a{
	display: table-cell;
	text-align: center;
	line-height: 42px;
	font-size: 15px;
	color: #000;
	text-decoration: none;
}

.site .menu a:hover{
	background: #C5D9E8;
}

.site .menu a.active{
	background: #0067b1;
	color: #fff;
}



.carousel{
	position: relative;
	height: 188px;
	margin-top: 48px;
}

.carousel .container{
	overflow: hidden;
	position: relative;
	height: 164px;
	background-color: #e2f0fa;
}

.carousel .container .slider{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	-webkit-transition: left 1s;
	-moz-transition: left 1s;
	-o-transition: left 1s;
	transition: left 1s;
}

.carousel .container .slider .item{
	float: left;
	margin: 15px 30px 0 0;
}

.carousel .container .slider .item:first-child{
	margin-left: 39px
}

.carousel .container .slider .item:nth-child(5n){
	margin-left: 39px
}

.carousel .navigation{
	position: absolute;
	left: 37px;
	bottom: 0;
	width: 926px;
	height: 24px;
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
	list-style: none;
	background-color: #cedce7;
}

.carousel .navigation li{
	display: inline-block;
	height: 10px;
	width: 10px;
	background: #828f9a;
	margin: 7px 0 0 5px;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.carousel .navigation li:hover{
	background: #99a;
}

.carousel .navigation li:first-child{
	margin-left: 0;
}

.carousel .navigation li.active{
	border: 3px solid #0067b1;
	background: #fff;
	cursor: default;
}

.carousel .prev{
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 37px;
	height: 24px;
	background: #0067b1 url('../images/slider_prev.png') no-repeat center center;
}

.carousel .next{
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	width: 37px;
	height: 24px;
	background: #0067b1 url('../images/slider_next.png') no-repeat center center;
}

.carousel .next:hover, .carousel .prev:hover{
	background-color: #17c;
}

.carousel .item .title{
	font-size: 16px;
	padding: 0 0 0 2px;
}

.carousel .item a{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	width: 208px;
	height: 104px;
	border: 2px solid transparent;
}

.carousel .item a:hover{
	border: 2px solid #012;
	-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
}

.carousel .item a img{
	width: 100%;
	height: 100%;
}

.contentHeader{
	border-bottom: 1px solid #a2a2a2;
	
}

.contentHeader.info{
	padding: 0;;
}

.contentHeader .icon{
	float: left;
	width: 18px;
	height: 18px;
	margin: 0 5px 0 0;
	background-color: #0067b1;
	background-repeat: no-repeat;
	background-position: center center;
}

.contentHeader.info .icon{
	background-image: url('../images/icon_header_info.png');
}
.contentHeader.calc .icon{
	background-image: url('../images/icon_header_calc.png');
}

.contentHeader .title{
	font-size: 18px;
	text-transform: uppercase;
	line-height: 18px;
	color: #0067b1;
}

.infoText{
	font-size: 14px;
	padding: 5px;
	text-align: justify;
}
.infoText.minHeight {
    min-height: 370px;
}
.infoText li{
	list-style: none;
	position: relative;
	margin: 2px 0;
	line-height: 16px;
}


.homeLeft{
	margin: 56px 0 0 22px;
	width: 580px;
	float: left;
}

.homeRight{
	width: 324px;
	margin: 56px 22px 0 0;
	float: right;
}

.homeSideMenu{
	padding: 30px 0 0 0;
}

.homeSideMenu a{
	display: block;
	text-decoration: none;
	font-size: 14px;
	color: #000;
	position: relative;
	margin: 1px 0 3px 21px;
	line-height: 16px;
}


.homeSideMenu a:hover,.homeSideMenu a.active{
	color: #0067b1;
}

.homeSideMenu a:hover:before, .homeSideMenu a.active:before{
	border-color: #000;
}

.niceLink{
	display: inline-block;
	position: relative;
	line-height: 24px;
	font-size: 12px;
	font-family: Arial;
	padding: 0 10px 0 28px;
	color: #000;
	text-decoration: none;
}

input.niceLink{
	padding: 0 10px;
}

input.niceLink.active:hover{
	background: #17c;
	cursor: pointer;
}

.niceLink:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 24px;
	height: 24px;
	background-color: #474749;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50%;
}
.niceLink.info{
	padding: 0 10px 0 28px;
}

.niceLink.calc:before{
	background-image: url('../images/icon_header_calc.png');
}

.niceLink.catalog:before{
	background-image: url('../images/icon_header_catalog.png');
}
.niceLink.contact:before{
	background-image: url('../images/icon_header_phone.png');
}
.niceLink.info:before{
	background-image: url('../images/icon_header_info.png');
}
.niceLink.layers:before{
	background-image: url('../images/icon_header_layers.png');
}
.niceLink.download:before{
	background-image: url('../images/icon_header_download.png');
}
.niceLink.pdf:before{
	background-image: url('../images/file-pdf.png');
}


.niceLink.mail:before{
	background-image: url('../images/icon_header_mail.png');
}
.niceLink.print:before{
	background-image: url('../images/icon_header_print.png');
}


.niceLink:hover{
	color: #0067b1;
}

.niceLink.active{
	background-color: #0067b1;
	border-radius: 12px;
	color: #fff;
	border: 0;
}

.niceLink:hover:before, .niceLink.active:before{
	background-color: #0067b1;
}

.homeLeft .niceLink{
}

.footer{
	background: #f7fafc;
}

.footMenu{
	border-bottom: 1px solid #b2c2cc;
	line-height: 29px;
	text-align: center;
}

.footMenu a{
	font-size: 12px;
	font-family: Verdana;
	text-decoration: none;
	color: #000;
	margin: 0 0 0 24px;
}

.footMenu a:hover{
	color: #0067b1;
}

.footMenu a:first-child{
	margin: 0;
}

.footLink{
	display: block;
	float: left;
	margin: 0 20px 0 0;
}

.footContent{
	line-height: 33px;
	font-family: Arial;
	font-size: 11px;
	white-space: nowrap;
}

.fbMenu{
	display: inline;
	position: relative;
	top: -6px;
	margin: 0 0 0 110px;
}

.goMobile{
    color: #000;
    text-decoration: none;
}

.webDesign{
	color: #000;
	text-decoration: none;
    margin: 0 24px 0 0;
}

.webDesign span{
	color: #0067b1;
}


.path{
	padding: 5px 15px;
}

.path a{
	display: inline-block;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	position: relative;
	margin: 3px 20px;
	line-height: 16px;
}


.path a:hover, .path a.active{
	color: #0067b1;
}

.path a:hover:before{
	border-color: #000;
}

.innerMenu{
	font-size: 12px;
	background: #f3f3f3;
	padding: 10px 10px;
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    text-align: center;
}

.innerMenu .niceLink{
    padding-right: 0px;
}
.innerMenu .niceLink.active{
    padding-right: 10px;
}

.innerMenu .container{
    display: inline-block;
}

.innerMenu .container > div{
	display: inline-block;
    margin: 0 20px;
}

.introText{
	padding: 15px;
	font-size: 14px;
}

.categories{
	float: left;
	width: 230px;
	padding: 0 10px 0 0;
}

.categories .group{
	position: relative;
	margin: 0 0 10px 40px;
	font-size: 12px;
	color: #0067b1;
	text-transform: uppercase;
	cursor: pointer;
	line-height: 16px;
}


.categories .group .title{
	padding: 0 3px;
}

.categories .group .items{
	display: none;
	margin: 0 0 30px 0;
}

.categories .group a{
	color: #000;
	text-decoration: none;
	display: inline-block;
	margin: 0 0 0;
	padding: 3px;
}

.categories .group a:hover{
	color: #0067b1;
	background-color: #f0f6ff;
}

.categories .group a.active{
	background: #0067b1;
	color: #fff;
	border-radius: 4px;
}

.categories .group .items a{
	margin: 2px 0 0;
}

.rightSide{
	width: 679px;
	float: right;
	border-left: 1px solid #dedede;
	padding: 0  10px 0 70px;
}

.rightSide h1{
	text-align: center;
	font-size: 20px;
	color: #0068b2;
	text-transform: uppercase;
	margin: 0 0 15px;
}
.center{
	text-align: center;
}
.rightSide .images{
	text-align: center;
}

.tableContent{
	margin: 20px auto;
	max-width: 500px;
	height: 200px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	display: inline-block;
}

.tableContent .tableContainer{
	display: inline-block;
}

.tableContent.view{
	position: fixed;
	top: -20px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0, 0, 0, 0.33);
	z-index: 999;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
}

.tableContent.view .tableContainer{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.tableContent.view .tableContainer > p{
	margin: 0;
}

.tableContent.view .tableContainer table{
	margin: 0 auto;
	-webkit-box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.66);
	box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.66);
	cursor: default;
}

.tableContent.view:before{
	display: none;
}

 .tableContent:before{
	content:'';
    display:block;
    -webkit-box-shadow:inset -5px -7px 20px 3px #ffffff;
	box-shadow:inset -7px -5px 20px 3px #ffffff;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
	z-index: 500;
} 

.tableContent:after{
	content: attr(title);
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
	font-size: 13px;
	background: #fff url('../images/expand.png') no-repeat 3px center;
	padding: 3px 3px 3px 22px;
	-webkit-box-shadow: 0px 0px 20px 3px #ffffff;
	box-shadow: 0px 0px 20px 3px #ffffff;
	z-index: 500;
}

.tableContent:after{
	display: block;
	background-color: #ccc;
	-webkit-box-shadow: 0px 0px 20px 3px #ccc;
	box-shadow: 0px 0px 20px 3px #ccc;
}

.tableContent:before{
	-webkit-box-shadow:inset 0px 0px 5px 5px #ccc;
	box-shadow:inset 0px 0px 5px 5px #ccc;
}

.tableContent.view:after{
	display: none;
}

.tableContainer table{
	border-collapse: collapse;
	background: #fff;
}

.tableContainer tr{
	background-color: #F1F2F2;
}

.tableContainer table td{
	border: 1px solid #fff;
	text-align: center;
	padding: 1px;
	font-size: 10px;
	font-family: Arial;
}

.tableContainer table tr:nth-child(odd){
	background-color: #DDDEDF;
}
/* 
.tableContainer table tr:hover{
	background: rgba(200, 200, 200, 0.3);
}
 */
.tableContent.view table td.highlight{
	background: rgba(200, 200, 200, 0.3);
}

.tableContainer table td.header{
	background: #627CB0;
	color: #fff;
	text-align: center;
}

.rightSide .content > p{
	margin: 0;
}


.rightSide .content{
	font-size: 14px;
	text-align: justify;
	margin: 20px 0 0;
	padding-bottom: 20px;
}

.rightSide .content table{
	border-collapse: collapse;
	background: #fff;
	margin: 0 auto;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.rightSide .content table tr{
	background-color: #F1F2F2;
}

.rightSide .content table tr:nth-child(odd){
	background-color: #DDDEDF;
}


.rightSide .content table td{
	border: 1px solid #fff;
	padding: 5px;
	font-size: 11px;
	font-family: Arial;
	
}

.rightSide .content table td.header{
	background: #627CB0;
	color: #fff;
	text-align: center;
}

.rightSide .content table td p{
	margin: 0;
}
.rightSide .specs{
	margin: 10px 0;
}
.rightSide .specs p{
	padding: 10px;
	font-size: 11px;
	font-family: Arial;
}

table.featureTable td.heading{
	color: #225D9A;
	background: #fff url('../images/table_bg_1.png') repeat-y right top !important;
	font-weight: bold;
	width: 100px;
	text-align: right;
}

table.featureTable{
	border-collapse: collapse;
	border: 0;
}

table.featureTable td{
	padding: 10px;
	font-size: 11px;
	font-family: Arial;
	border: 0;
}

table.featureTable tr td.graying{
	background-color: #F1F2F2;
}

.rightSide .control{
	margin: 50px 0;
}

.rightSide .contacts{
	display: none;
	font-size: 14px;
	padding: 10px;
}

.rightSide .contacts .field{
	width: 300px;
}

.contactPage{
	padding: 10px;
}

.contactForm{
	width: 35%;
	float: left;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 10px;
}

.contactForm .sideLeft{

	box-sizing: border-box;
	float: left;
	width: 48%;
	margin-right: 2%;
}
.contactForm .sideRight{

	box-sizing: border-box;
	float: right;
	width: 50%;
}



.contactInfo{
	width: 100%;
	font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #0067B1;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.contactInfo table{
	border-collapse: collapse;
    width: 100%;
}

.contactInfo td{
	padding: 0;
}

.contactInfo td p{
	/*margin: 0;*/
	vertical-align: top;
}

.contactInfo2{
	width: 33%;
	float: left;
	font-size: 12px;
}
.mapContainer{
	float: right;width: 65%;
}
#map{
	height: 350px;
	width: 100%;
	float: right;
}

#map:before{
	content: attr(data-title);
	position: absolute;
	top: -30px;
	left: 0px;
	font-size: 14px;
	color: #000;
	display: block;
	
}

textarea.field{
	resize: vertical;
}

.field{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #0067b1;
	width: 100%;
	padding: 3px;
}

.field.readonly{
    border-color: #678;
    background-color: #f0f0f8;
}

.field.calc{
	width: 70px;
    text-align: center;
}
.field.result{
    width: 70px;
    text-align: center;
    font-weight: bold;
    color: #0067B1;
    border: none;
    background: transparent;
    text-align: right;
}

.info{
	padding: 10px;
}

.info .homeSideMenu{
	padding: 0 0 0 3px;
	float: left;
	width: 20%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
}
.info .homeSideMenu.calc {
    padding: 0 0 0 3px;
    float: left;
    width: 35%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
}
.info .infoText{
	margin: 0;
	padding: 0 0 0 2%;
	text-align: justify;
	float: right;
	width: 78%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 1px solid #DEDEDE;
}
.info .infoText2{
	margin: 0;
	padding: 0 0 0 2%;
	text-align: justify;
	float: right;
	width: 63%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 1px solid #DEDEDE;
}
.infoFilesTitle{
	font-size: 16px;
	display: inline-block;
	padding: 0 0 5px 0;
	color: #0067B1;
}

.info h1{
	font-size: 20px;
}

.infoImages{
	margin: 0 10px 10px 0;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
    width: 280px;
    float: left;
}

.infoImages .images a{
	display: block;
	float: left;
	width: 138px;
    height: 100px;
	margin: 0 4px 4px 0;
}

.infoImages a:nth-child(2n){
	margin: 0 0 4px 0;
}

.infoFiles a, .documentMenu a{
	display: inline-block;
	line-height: 30px;
	position: relative;
	padding: 0 0 0 32px;
	/* background: #f0f0f0; */
}

.infoFiles a:nth-child(odd){
	/* background: #e8e8e8; */
}

.infoFiles a:hover{/* 
	background: #ddd; */
}

.infoFiles a img, .documentMenu a img{
	position: absolute;
	top: 3px;
	left: 3px;
	height: 24px;
	width: 24px;
}

.storageMap{
	height: 500px;
	border-top: 1px solid #0067b1;
	border-bottom: 1px solid #0067b1;
}

.servicesPage{
	padding: 10px;
}

.servicesPage ul{
	margin: 10px 0;
	padding: 0 0 0 10px;
}

.servicesPage li{
	display: block;
	text-decoration: none;
	font-size: 14px;
	color: #000;
	position: relative;
	margin: 0 0 3px 21px;
	list-style: none;
	line-height: 16px;
}

.servicesPage li:before, .path a:before, .homeSideMenu a:before, .infoText li:before,
.categories .group:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	content: '';
	display: block;
	width: 11px;
	height: 11px;
	background: #fff;
	position: absolute;
	left: -17px;
	top: 2px;
	border: 3px solid #0067b1;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 1px 0 #0067b1;
	box-shadow: 0 0 1px 0 #0067b1;
}
.homeSideMenu.documentMenu a{
    margin-left: 1px;
}
.homeSideMenu.documentMenu a:before{
    display: none;
}

.servicesPage ul ul li:before, .homeSideMenu ul ul li:before, .infoText ul ul li:before{
	background: #0067b1;
	border: 3px solid #fff;
}

.servicesCaret.hasServiceImage{
	width: 792px;
	float: right;
}

.imageServices{
	float: left;
	margin-top: 10px;
	margin-bottom:30px;
}

.servicesCaret{
	margin-top: 10px;
	margin-bottom:30px;
	font-size: 14px;
}

.servicesContact{
	text-align: center;
	padding: 10px 0;
	background: #e2f0fa;
	margin: 10px auto;
	width: 500px;
	border-radius: 10px;
}

.noScroll{
	line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}

.galleryImages{
	position: relative;
}

.galleryImages .item{
	display: block;
	height: 175px;
	width: 176px;
	float: left;
	margin: 0 10px 10px 0;
	text-decoration: none;
}

.documentGallery.galleryImages .item{
    height: 275px;
}

.documentGallery.galleryImages .item .image{
    height: 235px;
}



.galleryImages .item:nth-child(4n){
	margin: 0 0 10px 0;
}

.galleryImages .item .image{
	width: 176px;
	height: 135px;
}

.galleryImages .item .comment{
	line-height: 15px;
	font-size: 11px;
	font-family: Arial;
	height: 30px;
	overflow: hidden;
	position: relative;
	color: #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 5px;
}

.galleryImages .item:hover .comment{
	color: #0067b1;
}

.galleryImages .item .comment:after{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100px;
	height: 15px;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.blockContainer{
	width: 1000px;
	margin: 24px auto 0;
	background: #fff;
}


.calculator{
    padding: 10px;
    margin-top: 15px;
    overflow: hidden;
    border: 1px dashed #0067B1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background: #f4faff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f4faff 0%, #f7fbff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4faff), color-stop(100%,#f7fbff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f4faff 0%,#f7fbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f4faff 0%,#f7fbff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f4faff 0%,#f7fbff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f4faff 0%,#f7fbff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4faff', endColorstr='#f7fbff',GradientType=0 ); /* IE6-9 */
}

.calculator.loading:after{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.66);
    content: '';
    display: block;
}

.calculator .input_parameters{
    width: 60%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.calculator .scheme {
    float: left;
    width: 40%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.calculator .accent {
    color: #0067B1;
    font-weight: bold;
}

#calcError{
    width: 95%;
    margin: 0 5% 5% 0;
    background: rgba(255,0,0,0.5);
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.banner_calculator {
    background-image: url('../images/banner_calculator.png');
    background-repeat: no-repeat;
    height: 63px;
    width: 196px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 5px 5px 50px;
    display: block;
    margin-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
}
.banner_availability {
    background-image: url('../images/banner_availability.png');
    background-repeat: no-repeat;
    height: 63px;
    width: 196px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 5px 5px 50px;
    display: block;
    margin-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
}
.banner_catalog {
    background-image: url('../images/banner_catalog.png');
    background-repeat: no-repeat;
    height: 63px;
    width: 196px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 5px 5px 50px;
    display: block;
    margin-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
}
.banner_separator {
    padding: 15px;
}


.resultLabel{
    position: relative;
    height: 20px;
    font-weight: bold;
    border-bottom: 1px solid #0067B1;
}

.storageInfo{
    font-size: 12px;
    padding: 10px;
}

.storageInfo table{
    width: 100%;
}